<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A brief description">
    <meta name="author" content="Your site name">

    <title>Flexbox</title>

    <!-- Open Graph Social Media Card Tags -->
    <!-- <meta property="og:title" content="Web Page Title">
    <meta property="og:type" content="website">
    <meta property="og:image" content="logo.png">
    <meta property="og:url" content="https://www.google.com">
    <meta property="og:description" content="Description">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Website Name"> -->

    <!-- Icons -->
    <!-- <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->

    <!-- CSS stylesheets -->
    <link rel="stylesheet" href="css/flexbox.css">
</head>

<body>
    <header>
        <!-- Website Name or Logo -->
        <p>Header</p>
    </header>
    <nav>
        <!-- Website navigation -->
    </nav>
    <main>
        <!-- Main content -->
        <h1>Heading</h1>

        <div class="flex-container">
            <div class="box box1"> One..</div>
            <div class="box box2"> Two..</div>
            <div class="box box3"> Three..</div>
            <div class="box box4"> Four..</div>
            <div class="box box5"> Five..</div>
            <div class="box box6"> Six..</div>
            <div class="box box7"> Seven..</div>
        </div>
    </main>
    <footer>
        <!-- Copyright notice and other footer content -->
        <p>Footer</p>
    </footer>

    <!-- JavaScript files -->
    <!-- <script src="js/script.js"></script> -->
</body>

</html>